html, body{
    padding: 0px;
    margin: 0px;
    height: 100%;
}
header{
    height: 10%;
    width: 100%;
    background-color: yellow;
}
section{
    height: 80%;
    width: 100%;
    background-color: pink;
    margin: 15px;
}
footer{
    height: 10%;
    width: 100%;
    background-color: plum;
}
h1{ text-align: center;}