h1{
    color: brown;
    text-align: center;
}
p{
    font-size: 1em;
    text-indent: 1em;
}
span{
    margin-left: 1em;
    font-weight: bold;
    color: blue;
}
form{
    background-color: pink;
}
footer{
    background-color: orange;
    border-radius: 10px;
}
body, label, p{
    font-family: '휴먼편지체', sans-serif;
}