h1{
    text-align: center;
    color: brown;
}
body{
    background-color: aliceblue;
}
header{
    border-bottom: 1px solid black;
}
ul{
    border: 1px dotted black;
}
a{
    text-decoration: none;
}
p{
    font-family: '휴먼 편지체', sans-serif;
    font-size: 1em;
    text-indent: 1em;
}
h2{
    color: blue;
    text-shadow: 3px 3px 5px cornflowerblue;
}
footer{
    background-color: orange;
    border-radius: 10px;
}